<?xml version="1.0" encoding="UTF-8" ?>
<!-- MyBatis的DTD约束，固定写法，用于校验XML语法 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 核心：namespace = Mapper接口全限定类名，必须完全一致 -->
<mapper namespace="org.example.backend.mapper.UserMapper">
    <!--    用户登录-->
    <select id="login" resultType="org.example.backend.entity.User">
        select * from user where account = #{account} and password = #{password} and locked=0
    </select>
    
    <!-- 定义LoginResultVO的结果映射 -->
    <resultMap id="LoginResultVOMap" type="org.example.backend.controller.VO.LoginResultVO">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="account" column="account"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="avatar" column="avatar"/>
        <result property="role" column="role"/>
        <result property="status" column="status"/>
        <result property="locked" column="locked"/>
        <result property="createTime" column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <select id="selectUserById" resultMap="LoginResultVOMap">
        select id, username, account, email, phone, avatar, role, status, locked, create_time, update_time from user where id=#{id}
    </select>
    <update id="updateUser">
        update user
        <trim prefix="SET" suffixOverrides="," prefixOverrides=",">
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="account != null and account != ''">account = #{account},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="locked != null">locked = #{locked},</if>
            <if test="role != null">role = #{role},</if>
            <if test="status != null">status = #{status},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
        where id = #{id}
    </update>


    <!--根据账号查询用户信息-->
    <select id="selectUserByAccount" resultType="org.example.backend.entity.User">
        select * from user where account = #{account}
    </select>

<!--    管理员查询全部用户-->
    <select id="selectAllUser" resultMap="LoginResultVOMap">
            select id, username, account, email, phone, avatar, role, status, locked, create_time, update_time from user
    </select>

</mapper>
